body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("bg.jpg");
  backdrop-filter: blur(10px);
  z-index: 1;
  background-size: cover;
  height: 100%;
}
h1 {
  text-align: center;
}
.isi {
  font-size: 12px;
  color: white;
  margin: 40px;
  text-align: justify;
  padding-bottom: 10%;
}
